/* Base */
@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/base.css";

/* Layouts */
@import "./layouts/grid.css";
@import "./layouts/sections.css";

/* Components */
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/navbar.css";
@import "./components/footer.css";
