.tabs {
  display: flex;
  background-color: var(--color-bg);
  border-radius: 999px;
  padding: 6px;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px 0;
  background: transparent;
  border-radius: 999px;
  color: var(--color-muted);
  font-weight: 600;
  font-size: 15px;
}

.tabs .active {
  background-color: var(--color-accent);
  color: var(--color-bg);
}
